.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/backups
storage/app/exports
public/build
tests
*.md
docker-compose.yml
